/* 
    Created on : 19 nov. 2021, 17:05:18
    Author     : Sasha

    Colores:
        paleturquoise, teal, indigo, ghostwhite
*/

body{
    margin: 0;
    font-family: sans-serif;
}

/* Header + botón volver */
header{
    text-align: center;
    color: indigo;
    background-color: ghostwhite;
    margin-bottom: 5px;
    border-bottom: 3px solid indigo;
    position: relative;
}
/*Botón volver*/
a.volver{
    background-color: paleturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 80px;
}
a.volver img{
    height: 70%;
}
a.volver .hover{
    display: none;
}
a.volver:hover > img.hover{
    display: block;
}
a.volver:hover > img.normal{
    display: none;
}

main{
    margin: 5px;
}

/* Formularios */
form{
    margin: auto;
}


/* Estilo del footer */
/* Para mantener el footer abajo */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
footer {
    font-family: sans-serif;
    text-align: center;
    font-size: small;
    background-color: indigo;
    color: white;
    font-size: 11px;
    padding: 5px 0;
    flex-shrink: 0;
}
footer > *{
    display: inline-block;
}
footer img{
    width: 30px;
    margin-right: 5px;
}
footer > div{
    position: relative;
    bottom: 8px;
}

/*Botones*/
.button{
    display: inline-block;
    color: indigo;
    font-weight: bold;
    border: 2px solid indigo;
    background-color: ghostwhite;
    text-align: center;
    padding: 5px 7px;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover{
    color: paleturquoise;
    border: 2px solid paleturquoise;
    background-color: teal;
    
}

/*Enlaces*/
a{
    text-decoration: none;
}