/* 
    Created on : 29 nov. 2021, 16:20:40
    Author     : Sasha
*/


header{
    position: relative;
}

div.idiomas{
    position: absolute;
    top: 5px; right: 5px;
}
.idioma{
    background-color: ghostwhite;
    border: 2px ridge indigo;
    color: indigo;
    cursor: pointer;
}
.idioma.selected{
    background-color: teal;
    border: 2px ridge paleturquoise;
    color: paleturquoise;
}

@media (max-width: 620px){
    div.idiomas{
        display: flex;
        flex-flow: column;
    }
}

form{
    margin: auto;
    text-align: center;
}
