/* 
    Created on : 29 nov. 2021, 16:20:40
    Author     : Sasha
*/

.btContainer{
    text-align: center;
}

.btContainer .button{
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid indigo;
    color: indigo;
    background-color: ghostwhite;
}

.btContainer .button:hover{
    background-color: teal;
    color: paleturquoise;
    border: 2px solid paleturquoise;
}